<div class="container">
  <div class="row">
    <div class="col-md-7 m-auto">
      <div class="col-md-7 my-5 h4 bold">会員情報編集</div>

      <%= form_with model: @customer, url: public_customer_path(@customer.id), method: :patch do |f| %>
      <%= render "public/shared/error_messages", resource: @customer %>

      <div class="col">
        <div class="form-group col row">
          <%= f.label :email, class: "col-form-label col-md-4 px-0" %>
          <%= f.text_field :email, class: "form-control col-md-8" %>
        </div>

        <div class="form-group col row">
          <%= f.label :nick_name, class: "col-form-label col-md-4 px-0" %>
          <%= f.text_field :nick_name, class: "form-control col-md-8" %>
        </div>

        <div class="form-group col row">
          <%= f.label :customer_image, class: "col-form-label col-md-4 px-0" %>
          <%= f.file_field :customer_image, class: "pl-0 col-md-8" %>
        </div>

        <div class="form-group col row">
          <%= f.label :status, "公開設定", class: "col-form-label col-md-4 px-0" %>

          <div class="pl-0 col-md-8" >
            <%= f.radio_button :status, Customer.statuses.key(0) %>
            <%= f.label :status, Customer.statuses_i18n[:nonreleased] %>

            <%= f.radio_button :status, Customer.statuses.key(1) %>
            <%= f.label :status, Customer.statuses_i18n[:released] %>
          </div>

        </div>

        <div class="form-group col row mt-4">
          <div class="col-sm-4"></div>
          <div class="col-sm-8 row justify-content-between mt-2">
            <%= f.submit "変更を保存", class: "btn btn-success" %>
            <%= link_to "退会", quit_public_customers_path, class: "btn btn-danger" %></div>
          </div>
      </div>

      <% end %>
    </div>
  </div>
  <div class="col-md-7 mx-auto my-5">
    <%= link_to  public_customer_path(@customer.id), class: "default-color other-link" do %>
      <i class="fas fa-solid fa-reply mr-2"></i>戻る
    <% end %>
  </div>
</div>
