
<div class="container">
  <div class="row">
    <div class="col-sm-8 m-auto">

      <h3>紹介文編集</h3>
      <%= form_with model: @customer, url: introduction_update_public_customers_path(@customer.id), method: :patch do |f| %>
      <%= render "public/shared/error_messages", resource: @customer %>

        <table class="col">
          <tr>
            <td><%= f.text_area :introduction, class: "form-control", rows: "8" %></td>
          </tr>
          <tr>
            <td>
              <%= f.submit "変更を保存", class: "btn btn-success" %>
            </td>
          </tr>
        </table>

      <% end %>
    </div>
  </div>
  <div class="col-sm-8 mx-auto my-5">
    <%= link_to  public_customer_path(@customer.id), class: "default-color other-link" do %>
      <i class="fas fa-solid fa-reply mr-2"></i>戻る
    <% end %>
  </div>
</div>