<div class="container">

  <div class="row">

    <%= render "public/shared/sidebar_profile", customer: current_customer %>

    <div class="col-lg-8">
      <div class="text-center h2 bold">投稿一覧</div>
      <div class="col-sm-11 m-auto post-index">
        <table class="col">
            <thead>
              <th>ペット</th>
              <th>タイトル</th>
              <th>投稿日</th>
            </thead>

            <tbody>
              <% if @posts.count >= 1 %>
                <% @posts.each do |post| %>
                  <tr>
                    <td><%= link_to post.pet.pet_name, public_pet_path(post.pet.id) %></td>
                    <td class="col-4"><%= link_to post.post_title.truncate(9), public_post_path(post.id), class: "post-title" %></td>
                    <td><%= post.created_at.strftime("%Y/%m/%d") %></td>
                    <td class="row">
                      <% if post.customer_id == current_customer.id%>
                        <%= button_to edit_public_post_path(post.id), method: :get do %>
                          <i class="fas fa-solid fa-pen"></i>
                        <% end %>
                        &emsp;
                        <%= button_to public_post_path(post.id), method: :delete, data: {confirm: "本当に削除しますか？"} do %>
                          <i class="fas fa-solid fa-trash"></i>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td colspan="3" class="text-center">
                    <div class="no-posts">投稿はありません</div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <div class="col text-center">
          <%= paginate @posts %>
        </div>
      </div>
    </div>
  </div>
</div>