<div class="container">
<% if @customer.status == 0 || @customer.id == current_customer.id %>
  <div class="col my-5 h2 bold">
    <%= @customer.nick_name %>さんの投稿一覧
    <% if @customer.id == current_customer.id %>
      <%= link_to new_public_post_path, class: "text-warning ml-3" do %>
        <i class="fas fa-x fa-solid fa-plus"></i>
      <% end %>
    <% end %>

    <div class="my-5">
      <div class="col-sm-5">
        <%= form_with url: public_customer_post_search_path, method: :get, local: true do |f| %>
          <div class="d-flex">
            <%= f.text_field :keyword, value: @keyword, placeholder: "ペット名を入力", class: "form-control m-0" %>
            <%= f.hidden_field :customer_id, value: @customer.id %>
            <%= f.submit "検索", class: "btn btn-success ml-3" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="col post-index">
        <table class="col">
          <thead>
            <th>ペット</th>
            <th>タイトル</th>
            <th>投稿日</th>
          </thead>

          <tbody>
            <% if @posts.count >= 1 %>
              <% @posts.each do |post| %>
                <tr>
                  <td><%= link_to post.pet.pet_name, public_pet_path(post.pet.id), class: "other-link" %></td>
                  <td class="col-4"><%= link_to post.post_title.truncate(9), public_post_path(post.id), class: "other-link" %></td>
                  <td><%= post.start_time.strftime("%Y/%m/%d") %></td>
                  <td class="row">
                    <% if post.customer_id == current_customer.id%>
                      <%= button_to edit_public_post_path(post.id), method: :get do %>
                        <i class="fas fa-solid fa-pen"></i>
                      <% end %>
                      &emsp;
                      <%= button_to public_post_path(post.id), method: :delete, data: {confirm: "本当に削除しますか？"} do %>
                        <i class="fas fa-solid fa-trash"></i>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% else %>
               <tr>
                 <td colspan="3" class="col text-center">
                   <div class="no-posts">投稿はありません</div>
                  </td>
               </tr>
            <% end %>
          </tbody>
        </table>
        <div class="col text-center">
          <%= paginate @posts %>
        </div>
      </div>
    </div>
  </div>

  <div class="my-5">
    <%= link_to  public_customer_path(@customer.id), class: "default-color other-link" do %>
      <i class="fas fa-solid fa-reply mr-2"></i>プロフィール
    <% end %>
  </div>
<% else %>
<div>
  非公開です
</div>
<% end %>
</div>
