<div class="container">

  <div class="row">
    <% if @customer.status == "released" || @customer.id == current_customer.id %>
      <!--サイドバー-->
      <div class="col-lg-4 mb-5">
        <div class="col profile-field text-field">
          <table class="col mx-auto">
            <tr>
              <td colspan="2">
                <div class="col-10 mx-auto my-2">
                 <%= image_tag @customer.get_customer_image(300,300), class: "customer-image" %>
                </div>
              </td>
            </tr>

            <tr>
              <td colspan="2" class="text-center bold"><%= @customer.email %></td>
            </tr>

            <tr>
              <td class="col-6 text-center bold align-items-center"><%= @customer.nick_name %></td>
              <td class="col-6 text-center">
                <% if current_customer.following?(@customer) %>
                  <%= link_to "フォロー中", public_customer_relationships_path(@customer.id), class: "btn-sm btn-links shadow-none", method: :delete %>
                <% else %>
                  <%= link_to "+フォロー", public_customer_relationships_path(@customer.id), class: "btn-sm btn-links shadow-none", method: :post %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td class="text-center bold"><%= link_to "#{@customer.followings.count}フォロー", public_customer_followings_path(@customer.id) %></td>
              <td class="text-center bold"><%= link_to "#{@customer.followers.count}フォロワー", public_customer_followers_path(@customer.id) %></td>
            </tr>

            <% if @customer.id == current_customer.id %>
            <tr>
              <td colspan="2">
                <%= link_to edit_public_customer_path(@customer.id), class: "btn-links btn-block text-center" do %>
                  <i class="fas fa-user-cog"></i>
                <% end %>
              </td>
            </tr>
            <% end %>

            <tr>
              <td colspan="2">
                <%= link_to "ペット一覧", public_customer_pet_index_path(@customer.id), class: "btn-links btn-block text-center" %>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <%= link_to "投稿一覧", public_customer_post_index_path(@customer.id), class: "btn-links btn-block text-center" %>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <!--メイン-->
      <div class="col-lg-8">

        <div class="text-field col-lg-10 m-auto pt-5">
          <div class="col-lg-10 self-introduction py-3">
            <p><%= @customer.introduction %></p>
            <% if @customer.id == current_customer.id %>
              <%= link_to "コメントを編集", introduction_edit_public_customers_path, class: "btn btn-light btn-sm" %>
            <% end %>
          </div>


        <div class="tab-area col p-0">

          <input type="radio" name="tab_name" id="tab1" checked>
          <label class="tab_class bold" for="tab1">投稿</label>
          <div class="content-class col p-0">
            <% if @posts.count >= 1 %>
              <% @posts.each do |post| %>
                <div class="col-md-8 mx-auto text-field customer-content p-2">
                  <div class="col row customer-post">
                    <%= image_tag post.customer.get_customer_image(50,50)%>
                    <%= link_to post.customer.nick_name, public_customer_path(post.customer.id), class: "mr-2" %>
                    <div class="small text-muted">
                      <%= time_ago_in_words(post.created_at).upcase %>
                    </div>
                  </div>

                  <%= link_to public_post_path(post.id), class: "other-link" do %>
                    <ul class="m-3">
                      <li><%= post.post_title.truncate(10) %></li>
                      <li><p><%= post.post_content.truncate(30) %></p></li>
                      <li><%= image_tag post.get_post_image(500,500) , width: "100%", class: "border-radius" %></li>
                    </ul>
                  <% end %>

                </div>
              <% end %>
            <% else %>
                <p class="no-data">投稿はありません</p>
            <% end %>
            </div>

          <input type="radio" name="tab_name" id="tab2">
          <label class="tab_class bold" for="tab2">いいね</label>
          <div class="content-class col">
            <% if @like_posts.count >= 1 %>
              <% @like_posts.each do |like_post| %>
                <div class="col text-field customer-content">
                  <div class="col row customer-post">
                    <%= image_tag like_post.customer.get_customer_image(50,50)%>
                    <%= link_to like_post.customer.nick_name, public_customer_path(like_post.customer.id), class: "mr-2" %>
                    <div class="small text-muted">
                      <%= time_ago_in_words(like_post.created_at).upcase %>
                    </div>
                  </div>

                  <%= link_to public_post_path(like_post.id), class: "other-link" do %>
                    <ul class="m-3">
                      <li><%= like_post.post_title.truncate(10) %></li>
                      <li><%= like_post.post_content.truncate(30) %></li>
                      <li><%= image_tag like_post.get_post_image(500,500) , width: "50%" %></li>
                    </ul>
                  <% end %>
                </div>
              <% end %>
            <% else %>
                <p class="no-data">投稿がいいねされていません</p>
            <% end %>
          </div>

          <input type="radio" name="tab_name" id="tab3" >
          <label class="tab_class bold" for="tab3">フォロー</label>
          <div class="content-class col">
            <% if @following_customer_posts.count >= 1 %>
              <% @following_customer_posts.each do |following_customer_post|%>
                <div class="col text-field customer-content">
                  <div class="col row customer-post">
                    <%= image_tag following_customer_post.customer.get_customer_image(50,50)%>
                    <%= link_to following_customer_post.customer.nick_name, public_customer_path(following_customer_post.customer.id), class: "mr-2" %>
                    <div class="small text-muted">
                      <%= time_ago_in_words(following_customer_post.created_at).upcase %>
                    </div>
                  </div>

                  <%= link_to public_post_path(following_customer_post.id), class: "other-link" do %>
                    <ul class="m-3">
                      <li><%= following_customer_post.post_title.truncate(10) %></li>
                      <li><%= following_customer_post.post_content.truncate(30) %></li>
                      <li><%= image_tag following_customer_post.get_post_image(500,500) , width: "50%" %></li>
                    </ul>
                  <% end %>
                </div>
              <% end %>
            <% else %>
                <p class="no-data">フォロー会員がいません</p>
            <% end %>
          </div>

          <input type="radio" name="tab_name" id="tab4" >
          <label class="tab_class bold" for="tab4">画像</label>
          <div class="content-class col">
            <% if @posts.count >= 1 %>
              <% @posts.each do |post|%>
                  <div class="col-md-10 py-5 m-auto">
                    <%= link_to public_post_path(post.id) do %>
                      <%= image_tag post.post_image.variant( resize: "1000x1000", gravity: :center, crop: "800x800+0+0" ).processed, width: "100%", height: "100%", class: "border-radius" %></li>
                    <% end %>
                  </div>
              <% end %>
            <% else %>
              <p class="no-data">画像の投稿はありません</p>
            <% end %>
          </div>


        </div>
      </div>
      </div>
    <% else %>
      <div class="no-data m-auto">
        非公開です
      </div>
    <% end %>
  </div>

</div>

