<div class="container">

  <div class="row">

    <!--サイドバー-->
    <div class="col-lg-4 py-5">
      <div class="col-lg-10 m-auto profile-field">
        <table class="col-11 mx-auto">
          <tr>
            <td colspan="2">
              <%= image_tag @customer.get_customer_image(550,550), class: "customer-image" %>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="text-center bold"><%= @customer.email %></td>
          </tr>
          <tr>
            <td class="text-center bold"><%= @customer.nick_name %></td>
            <td class="text-center">
              <% if current_customer.following?(@customer) %>
                <%= link_to "フォロー解除", public_customer_relationships_path(@customer.id), class: "btn-sm btn-links shadow-none", method: :delete %>
              <% else %>
                <%= link_to "+フォロー", public_customer_relationships_path(@customer.id), class: "btn-sm btn-links shadow-none", method: :post %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="text-center"><%= @customer.followings.count %><%= link_to "フォロー", public_customer_followings_path(@customer.id) %></td>
            <td class="text-center"><%= @customer.followers.count %><%= link_to "フォロワー", public_customer_followers_path(@customer.id) %></td>
          </tr>
          <tr>
            <td colspan="2">
              <%= link_to  member_info_edit_public_customers_path, class: "btn-links btn-block text-center" do %>
                <i class="fas fa-user-cog"></i>
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <%= link_to "ペット一覧", public_customers_pet_path(@customer.id), class: "btn-links btn-block text-center" %>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <!--メイン-->
    <div class="col-lg-8">

      <div class="col-lg-10 mx-auto">
        <div class="col row text-center">
          <h4 class="col bold">
            <%= @customer.nick_name %>さんのプロフィール
          </h4>
        </div>
      </div>

      <div class="text-field col-lg-10 m-auto pt-5">
        <div class="col-lg-10 self-introduction">
          <p><%= @customer.introduction %></p>
          <% if @customer.id == current_customer.id %>
            <%= link_to "コメントを編集", edit_public_customer_path(current_customer.id), class: "btn btn-light btn-sm" %>
          <% end %>
        </div>


      <div class="area col">
        
        <input type="radio" name="tab_name" id="tab1" checked>
        <label class="tab_class bold" for="tab1">投稿</label>

        <div class="content-class col">
          <% @posts.each do |post| %>
            <div class="col text-field customer-content">
              <div class="col row">
                <%= image_tag post.customer.get_customer_image(50,50)%>
                <%= link_to post.customer.nick_name, public_customer_path(post.customer.id), class: "mr-2" %>
                <%= post.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
              </div>


              <ul class="col my-2">
                <li><%= post.post_title.truncate(10) %></li>
                <li><%= post.post_content.truncate(30) %></li>
                <li><%= link_to "詳細", public_post_path(post.id), class: "details-link" %></li>
              </ul>
            </div>
          <% end %>
          </div>

        <input type="radio" name="tab_name" id="tab2">
        <label class="tab_class bold" for="tab2">いいね</label>
        <div class="content-class col">
          <% @likes.each do |like| %>
            <div class="col text-field customer-content">
              <div class="col row">
                <%= image_tag like.post.customer.get_customer_image(50,50)%>
                <%= link_to like.post.customer.nick_name, public_customer_path(like.post.customer.id), class: "mr-2" %>
                <%= like.post.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
              </div>


              <ul class="col my-2">
                <li><%= like.post.post_title.truncate(10) %></li>
                <li><%= like.post.post_content.truncate(30) %></li>
                <li><%= link_to "詳細", public_post_path(like.post.id), class: "details-link" %></li>
              </ul>
            </div>
             
          <% end %>
        </div>



        <input type="radio" name="tab_name" id="tab3" >
        <label class="tab_class bold" for="tab3">フォロー</label>
        <div class="content-class col">
          <% @following_customer_posts.each do |following_customer_post|%>
              <div class="col text-field customer-content">
                <div class="col row">
                  <%= image_tag following_customer_post.customer.get_customer_image(50,50)%>
                  <%= link_to following_customer_post.customer.nick_name, public_customer_path(following_customer_post.customer.id), class: "mr-2" %>
                  <%= following_customer_post.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                </div>

                <ul class="col my-2">
                  <li><%= following_customer_post.post_title.truncate(10) %></li>
                  <li><%= following_customer_post.post_content.truncate(30) %></li>
                  <li><%= link_to "詳細", public_post_path(following_customer_post.id), class: "details-link" %></li>
                </ul>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    </div>
  </div>
 </div>
</div>

