<div class="container">

  <div class="row">
    <% if @customer.status == "released" || @customer.id == current_customer.id %>
      <!--サイドバー-->
      <%= render "public/shared/sidebar_profile", customer: @customer %>

      <!--メイン-->
      <div class="col-lg-8">

        <div class="text-field col-lg-10 m-auto pt-5">
          
          <div class="col-lg-10 self-introduction py-3">
            <p><%= @customer.introduction %></p>
            <% if @customer.id == current_customer.id %>
              <%= link_to "コメントを編集", introduction_edit_public_customers_path, class: "btn btn-light btn-sm" %>
            <% end %>
          </div>
          
          <div class="tab-area col p-0">

            <input type="radio" name="tab_name" id="tab1" checked>
            <label class="tab_class bold" for="tab1">投稿</label>
            <%= render 'public/shared/customer_tab', posts: @posts, message: "投稿がありません" %>
            
            <input type="radio" name="tab_name" id="tab2">
            <label class="tab_class bold" for="tab2">いいね</label>
            <%= render 'public/shared/customer_tab', posts: @like_posts, message: "投稿がいいねされていません" %>
  
            <input type="radio" name="tab_name" id="tab3" >
            <label class="tab_class bold" for="tab3">フォロー</label>
            <%= render 'public/shared/customer_tab', posts: @following_customer_posts, message: "フォロー会員がいません" %>
  
            <input type="radio" name="tab_name" id="tab4" >
            <label class="tab_class bold" for="tab4">画像</label>
            <div class="content-class col p-0">
              <% if @posts.count >= 1 %>
                <% @posts.each do |post|%>
                  <div class="col-md-10 py-5 m-auto">
                    <%= link_to public_post_path(post.id) do %>
                      <%= image_tag post.get_post_image(500,500) , width: "100%", class: "border-radius" %>
                    <% end %>
                  </div>
                <% end %>
              <% else %>
                <p class="no-data">投稿がありません</p>
              <% end %>
            </div>
            
          </div>
        </div>
        
      </div>
    <% else %>
      <div class="no-data m-auto">
        非公開です
      </div>
    <% end %>
  </div>
</div>

