<div class="container">
  
  <div class="row">

    <%= render "public/shared/sidebar_profile", customer: @customer %>

    <div class="col-lg-8 pet-index">
      
        <div class="pet-title col text-cente pt-5">
          <h2 class="col">
            <%= current_customer.nick_name %>さんのペット一覧
            <% if @customer.id == current_customer.id %>
              <%= link_to new_public_pet_path, class: "text-dark col-1 p-0" do %>
                <i class="fas fa-solid fa-plus"></i>
              <% end %>
            <% end %>
          </h2>
        </div>
      
        <div class="pet-list row">
          <% if @pets.count >= 1 %>
            <% @pets.each do |pet| %>
            <div class="pet-link col-md-4">
              <%= image_tag pet.get_pet_image(200,200) %><br>
              <%= link_to  pet.pet_name, public_pet_path(pet.id), class: "btn-revers" %>
            </div>
            <% end %>
          <% else %>
            <div class="pet-link col m-auto">
              <p class="no-pets">ペットは登録されていません</p>
            </div>
          <% end %>
        </div>

    </div>
  </div>
</div>