<div class="content-class col p-0">
  <% if posts.count >= 1 %>
    <% posts.each do |post|%>
      <div class="col-md-8 mx-auto text-field mb-5 customer-content p-2">
        <section>
          <div class="col d-flex tab-customer-info p-2">
            <%= image_tag post.customer.get_customer_image(30,30)%>
            <%= link_to post.customer.nick_name, public_customer_path(post.customer.id), class: "mr-2" %>
            <div class="small text-muted">
              <%= time_ago_in_words(post.created_at).upcase %>
            </div>
          </div>
          <%= link_to public_post_path(post.id), class: "other-link" do %>
            <div class="col">
              <h6 class="h6"><%= post.post_title.truncate(10) %></h6>
              <p class="small"><%= post.post_content.truncate(30) %></p>
              <%= image_tag post.get_post_image(500,500) , width: "100%", class: "border-radius mt-3" %>
            </div>
          <% end %>
        </section>
      </div>
    <% end %>
  <% else %>
    <p class="no-data"><%= message %></p>
  <% end %>
</div>
  

