<div class="container">
  <div class="col-md-6 mx-auto text-field">
  <h2 class="h2 bold mx-3 mb-5 mt-3">通知一覧</h2>
  <% notifications.each do |notification| %>
  <% visitor = notification.visitor %>
  <% visited = notification.visited %>
  <div class="row">

      <%= image_tag visitor.get_customer_image(50,50), class: "image-circle mx-2" %>
      <div class="d-flex align-items-center">
        <%= link_to visitor.nick_name, public_customer_path(visitor.id), class: "other-link bold" %>さんが
      </div>
      <% case notification.action %>
      <% when 'follow' then %>
        <div class="d-flex align-items-center">
          あなたをフォローしました
        </div>
      <% when 'like' then %>
        <div class="d-flex align-items-center">
          <%= link_to 'あなたの投稿', public_post_path(notification.post.id), class: "other-link" %>にいいねしました
        </div>
      <% when 'comment' then %>
        <% if notification.post.customer_id == visited.id %>
          <div class="d-flex align-items-center">
            <%= link_to "あなたの投稿", public_post_path(notification.post.id), class: "d-flex other-link align-items-center" %>にコメントしました
          </div>
        <% else %>
          <span>
            <%= link_to post_path(notification.post), class: "d-flex other-link align-items-center" do %>
              <%= image_tag avatar_url(notification.post.customer).to_s %>
            <% end %>
            <strong><%= notification.post.user.name + 'さんの投稿' %></strong>にコメントしました
            <%= Comment.find_by(id: notification.comment_id)&.comment %>
          </span>
        <% end %>
      <% end %>

  </div>

  <div class="small text-muted text-right">
    <%= time_ago_in_words(notification.created_at).upcase %>
  </div>

  <hr>

  <% end %>
  </div>
</div>
