<div class="container">
  <div class="col-md-8 mx-auto text-field">
    <h4 class="h4 bold mx-3 mb-5 mt-3">通知一覧</h2>
    <% notifications.each do |notification| %>
    <!--いいね・フォロー・投稿主-->
    <% visitor = notification.visitor %>
    <!--いいね・フォロー・コメント主-->
    <% visited = notification.visited %>
      <div class="col-11 mx-auto px-0 mb-3 small">
        <%= link_to  public_customer_path(visitor.id), class: "other-link bold d-inline-flex align-center small" do %>
            <%= image_tag visitor.get_customer_image(20,20), class: "image-circle mr-1" %>
            <span class="inline-text small bold"><%= visitor.nick_name %></span>
        <% end %>
        <span class="inline-text small">さんが</span>
        
        <% case notification.action %>
        <% when 'follow' then %>
          <span class="inline-text small">あなたをフォローしました。</span>
          
        <% when 'like' then %>
          <%= link_to 'あなたの投稿', public_post_path(notification.post.id), class: "d-inline-flex inline-text other-link small align-center" %>
          <span class="inline-text small">にいいねしました。</span>
          
        <% when 'comment' then %>
          <% if notification.post.customer_id == visited.id %>
            <%= link_to "あなたの投稿", public_post_path(notification.post.id), class: "d-inline-flex inline-text other-link small align-center" %>
            <span class="inline-text small">にコメントしました。</span>
          <% else %>
              <%= link_to public_post_path(notification.post), class: "other-link d-inline-flex align-center small" do %>
                <%= image_tag notification.post.customer.get_customer_image(20,20), class: "image-circle mr-1" %>
                <span class="inline-text"><strong><%= notification.post.customer.nick_name %></strong></span>
              <% end %>
              <span class="inline-text small">さんの投稿にコメントしました。</span>
          <% end %>
          
        <% end %>
      </div>
      
      <div class="small text-muted text-right">
        <span class="small">
          <%= time_ago_in_words(notification.created_at).upcase %>
        </span>
      </div>
    
      <hr>
      
    <% end %>
 </div>
</div><!-- container end -->
