<div class="container">
  <div class="col-md-6 mx-auto text-field">
  <h4 class="h4 bold mx-3 mb-5 mt-3">通知一覧</h2>
  <% notifications.each do |notification| %>
  <!--いいね・フォロー・投稿主-->
  <% visitor = notification.visitor %>
  <!--いいね・フォロー・コメント主-->
  <% visited = notification.visited %>
  
  <div class="row col mx-0 px-0">
    <div class="d-flex align-items-center small">
      <%= image_tag visitor.get_customer_image(30,30), class: "image-circle mx-2 px-0" %>
      <p class="small">
        <%= link_to visitor.nick_name, public_customer_path(visitor.id), class: "other-link bold" %>さんが
        
        <% case notification.action %>
        <% when 'follow' then %>
            あなたをフォローしました
        <% when 'like' then %>
            <%= link_to 'あなたの投稿', public_post_path(notification.post.id), class: "other-link small" %>にいいねしました
        <% when 'comment' then %>
        <% comment = Comment.find_by(id: notification.comment_id) %>
          <% if notification.post.customer_id == visited.id %>
            <%= link_to "あなたの投稿", public_post_path(notification.post.id), class: "d-flex other-link align-items-center" %>にコメントしました
          <% else %>
            <strong>『<%= link_to notification.post.post_title, public_post_path(notification.post.id), class: "other-link" %>』</strong>にコメントしました。
          <% end %>
        <% end %>
        
      </p>
    </div>
  </div>

  <div class="small text-muted text-right">
    <%= time_ago_in_words(notification.created_at).upcase %>
  </div>

  <hr>

  <% end %>
  </div>
</div>
