<% if posts.count >= 1 %>
  <div class="row col mx-auto">
    <% posts.each do |post| %>
      <section class="col-md-3 px-0 py-2">
        <div class="post-all">
          <%= link_to public_post_path(post.id) do %>
            <div class="col p-0 m-0">
              <% if post.post_image.attached? %>
                <%= image_tag post.post_image.variant(resize: "1000x1000", gravity: :center, crop: "500x500+0+0").processed, height: "100%", width: "100%", class: "col px-0 py-md-1 mx-auto" %>
              <% end %>
            </div>
          <% end %>
          <div class="row col mx-0 px-0 customer-image align-center">
            <%= image_tag post.pet.get_pet_image(30,30), class: "image-circle" %>
            <%= link_to post.pet.pet_name + post.pet.pet_gender, public_pet_path(post.pet.id), class: "other-link small ml-1" %>
          </div>
  
          <h2 class="border-bottom"><%= post.post_title.truncate(10) %></h2>
          <time class="small text-muted"><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></time>
        </div>
      </section>
    <% end %>
  </div>
  <%= paginate posts, :param_name => "#{page}" %>
<% else %>
  <p class="no-data h2">
    投稿はありません
  </p>
<% end %>
