<div class="col-lg-4 mb-5">
  <div class="col profile-field text-field">
    <table class="col mx-auto">
      <tr>
        <td colspan="2">
          <div class="col-10 mx-auto my-2">
            <%= image_tag customer.get_customer_image(550,550), class: "customer-image" %>
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="2" class="text-center bold"><%= customer.email %></td>
      </tr>

      <tr>
        <td class="text-center bold"><%= customer.nick_name %></td>
        
        <td id="relationship-box" class="text-center">
          <%= render 'public/shared/relationships', customer: customer %>
        </td>
      </tr>

      <tr>
        <td id="relationship-link" class="text-center bold">
          <%= render "public/shared/relationship_link", customer: customer, followings: true %>
        </td>
        <td id="relationship_link" class="text-center bold">
          <%= render "public/shared/relationship_link", customer: customer, followings: false %>
        </td>
      </tr>
      
      <% if customer.id == current_customer.id %>
        <tr>
          <td colspan="2">
            <%= link_to edit_public_customer_path(customer.id), class: "btn-links btn-block text-center" do %>
              <i class="fas fa-user-cog"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
        
      <tr>
        <td colspan="2">
          <%= link_to "ペット一覧", public_customer_pet_index_path(customer.id), class: "btn-links btn-block text-center" %>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <%= link_to "投稿一覧", public_customer_post_index_path(customer.id), class: "btn-links btn-block text-center" %>
        </td>
      </tr>
      
      <tr>
        <td colspan="2">
          <%= link_to "プロフィール", public_customer_path(customer.id), class: "btn-links btn-block text-center" %>
        </td>
      </tr>
      
    </table>
  </div>
</div>