<div class="container">


  <% if !@keyword %>
    <div class="h2 bold">
      ワーク一覧
    </div>
  <% else %>
    <div class="h4 bold">
      検索結果：　<%= @keyword %>
    </div>
  <% end %>

  <div class="col-md-5 mt-5 p-0">
    <%= form_with url: search_public_works_path, method: :get, local: true do |f| %>
      <div class="d-flex">
        <%= f.text_field :keyword, value: @keyword, placeholder: "ペット名を入力", class: "form-control m-0" %>
        <%= f.submit "検索", class: "btn btn-success ml-3" %>
      </div>
    <% end %>
  </div>


  <div class="row">
    <div class="col">
      <div class="work-index px-0 col">
        <div class="work-list text-field col">
            <% if @works.count >= 1 %>
              <table class="col">
                <thead>
                  <th>日付</th>
                  <th>ペット</th>
                  <th>ワーク</th>
                  <th>アイテム</th>
                </thead>

                <tboby>
                  <% @works.each do |work| %>
                  <tr>
                    <td class="col-2"><%= link_to work.created_at.strftime("%m/%d"), public_work_path(work.id), class: "btn-links" %></td>
                    <td class="col-3"><%= link_to work.pet.pet_name, public_pet_work_index_path(work.pet.id), class: "other-link" %></td>
                    <td class="col-3"><%= work.work_name %></td>
                    <td class="col-5">
                        <!--消費アイテム取得-->
                        <% work_details = WorkDetail.where(work_id: work.id)%>
                        <% work_details.each do |work_detail| %>
                          <%= work_detail.item.item_name %>(<%= work_detail.amount_used %>g)<br>
                        <% end %>
                    </td>
                  </tr>
                  <% end %>
                </tboby>
              </table>
              <div class="col text-center">
                <%= paginate @works %>
              </div>
            <% else %>
              <table class="col">
                <tr>
                  <td colspan="4" class="text-center">
                    <div class="no-works">
                      ワークはありません
                    </div>
                  </td>
                </tr>
              </table>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>