<div class="container">
  <div class="row">
    <div class="col">

        <div class="text-field col-md-10 mx-auto">
          <h4 class="my-4 text-center">
            <% if @missing_item_flag %>
            <!--アイテム不足フラグがある時-->
              在庫が不足しています。ワークを作成できません
            <% else %>
            <!--アイテム不足フラグがない時-->
              <span class="bold">[<%= @work.pet_names.join("] [") %>]</span>の『<%= @work.work_name %>』を実行します
            <% end %>
          </h4>

          <table class="col p-0 m-0">

            <tr class="col text-center">
              <th class="px-0 col-5"></th>
              <th class="px-0">在庫</th>
              <th class="px-0">消費</th>
              <th class="px-0">残量</th>
            </tr>

            <% @use_items.each do |use_item| %>
              <tr>
                <% item = Item.find_by(id: use_item.item_id)%>

                <% if @work.pet_ids.reject(&:blank?).count >= 2 %>
                  <!--ペットが複数の場合-->
                    <td class="px-0 text-center small"><%= use_item.item.item_name %>(<%= use_item.amount_used.to_s + use_item.item.unit_i18n %>)</td>
                    <td class="px-0 text-center small"><%= item.total_capacity.to_s + item.unit_i18n %></td>

                    <% if item.total_capacity < use_item.amount_used * @work.pet_ids.reject(&:blank?).count %>
                    <!--在庫より消費量が多い時-->
                      <td class="px-0 text-center small">
                        <%= (use_item.amount_used * @work.pet_ids.reject(&:blank?).count).to_s + item.unit_i18n %>
                      </td>
                      <td class="px-0 text-center small">在庫不足</td>
                    <% else %>
                      <td class="px-0 text-center small">
                        <%= (use_item.amount_used * @work.pet_ids.reject(&:blank?).count).to_s + item.unit_i18n %>
                      </td>
                      <td class="px-0 text-center small">
                        <%= (item.total_capacity - use_item.amount_used * @work.pet_ids.reject(&:blank?).count).to_s + item.unit_i18n %>
                      </td>
                    <% end %>

                <% else %>
                  <!--ペットが単数の場合-->
                    <td class="px-0 bold text-center small"><%= use_item.item.item_name %></td>
                    <td class="px-0 text-center small">
                      <%= item.total_capacity.to_s + item.unit_i18n %>
                    </td>

                    <% if item.total_capacity < use_item.amount_used %>
                    <!--在庫より消費量が多い時-->
                      <td class="px-0 text-center small">
                        <%= (use_item.amount_used * @work.pet_ids.reject(&:blank?).count).to_s + item.unit_i18n %>
                      </td>
                      <td class="px-0 text-center small">
                        在庫不足
                      </td>
                    <% else %>
                      <td class="px-0 text-center small">
                        <%= (use_item.amount_used * @work.pet_ids.reject(&:blank?).count).to_s + item.unit_i18n %>
                      </td>
                      <td class="px-0 text-center small">
                        <%= (item.total_capacity - use_item.amount_used * @work.pet_ids.reject(&:blank?).count).to_s + item.unit_i18n %>
                      </td>
                    <% end %>
                <% end %>

              </tr>
            <% end %>

          </table>
        </div>

        <!--アイテム不足フラグがない時-->
        <% if @missing_item_flag == 1 %>
          <div class="mx-auto mt-4 text-center col-sm-3">
            <%= link_to "使用アイテムへ戻る", public_use_items_path, class: "btn btn-danger btn-block" %>
          </div>
        <!--アイテム不足フラグがある時-->
        <% else %>
          <div class="mx-auto mt-4 text-center col-sm-3">
            <%= form_with model: @work, url: public_works_path, method: :post do |f| %>

              <% @work.pet_ids.each do |pet_id| %>
                <%= f.hidden_field :pet_ids, multiple: true, value: pet_id %>
              <% end %>

              <%= f.hidden_field :work_name, value: @work.work_name %>
              <%= f.submit "確定", class: "btn btn-success btn-block" %>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>