<div class="container">
  <div class="row">
    <div class="col">
        <h3 class="text-center">以下を使用して<%= @work.pet_names.join(" ") %>の『<%= @work.work_name %>』を実行します</h3>
        <div class="col-md-6 m-auto">
          <div class="text-field col">
            <table class="col">
              <% @use_items.each do |use_item| %>
                <tr>
                  <td class="col-8"><%= use_item.item.item_name%></td>
                  <td class="col-4 text-center"><%= use_item.amount_used %>g</td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
        <br>
        <div class="work-create text-center col-3">
          <%= form_with model: @work, url: public_works_path, method: :post do |f| %>
            <% @work.pet_ids.each do |pet_id| %>
              <%= f.hidden_field :pet_ids, multiple: true, value: pet_id %>
            <% end %>
            <%= f.hidden_field :work_name, value: @work.work_name %>

            <%= f.submit "確定", class: "btn btn-success btn-block" %>
          <% end %>
        </div>
    </div>
  </div>
</div>