<div class="container">
  <div class="row">
    <div class="col">

        <div class="text-field col-md-10 mx-auto">
          <h5 class="h5 my-4 text-center">
            <% if @missing_item_flag %>
            <!--アイテム不足フラグがある時-->
              在庫が不足しています。ワークを作成できません
            <% else %>
            <!--アイテム不足フラグがない時-->
              以下を使用して<%= @work.pet_names.join(" ") %>の『<%= @work.work_name %>』を実行します
            <% end %>
          </h3>

          <table class="col p-0 m-0">
            <tr class="col text-center">
              <th class="col-5"></th>
              <th>在庫</th>
              <th>使用分</th>
              <th>残り</th>
            </tr>
            <% @use_items.each do |use_item| %>
              <tr>
                <td class="bold"><%= use_item.item.item_name%>(<%= use_item.amount_used %>g)</td>
                <% item = Item.find_by(id: use_item.item_id)%>

                <% if @work.pet_ids.reject(&:blank?).count >= 2 %>
                <!--ペットが複数の場合-->
                  <% if item.total_capacity < use_item.amount_used * @work.pet_ids.reject(&:blank?).count %>
                    <td colspan="3" class="text-center">在庫が不足しています</td>
                  <% else %>
                    <td class="text-center">
                        <%= item.total_capacity.to_s + item.unit_i18n %>
                    </td>
                    <td class="text-center"><%= (use_item.amount_used * @work.pet_ids.reject(&:blank?).count).to_s + item.unit_i18n %></td>
                    <td class="text-center"><%= (item.total_capacity - use_item.amount_used * @work.pet_ids.reject(&:blank?).count).to_s + item.unit_i18n %></td>
                  <% end %>
                <% else %>
                <!--ペットが単数の場合-->
                  <% if item.total_capacity < use_item.amount_used %>
                    <td colspan="3" class="text-center">在庫が不足しています</td>
                  <% else %>
                    <td class="text-center">
                        <%= item.total_capacity.to_s + item.unit_i18n %>
                    </td>
                    <td class="text-center"><%= (use_item.amount_used * @work.pet_ids.reject(&:blank?).count).to_s + item.unit_i18n %></td>
                    <td class="text-center"><%= (item.total_capacity - use_item.amount_used * @work.pet_ids.reject(&:blank?).count).to_s + item.unit_i18n %></td>
                  <% end %>
                <% end %>

              </tr>
            <% end %>

          </table>
        </div>

        <!--アイテム不足フラグがない時-->
        <% if @missing_item_flag == 1 %>
          <div class="mx-auto mt-4 text-center col-sm-3">
            <%= link_to "使用アイテムへ戻る", public_use_items_path, class: "btn btn-danger btn-block" %>
          </div>
        <!--アイテム不足フラグがある時-->
        <% else %>
          <div class="mx-auto mt-4 text-center col-sm-3">
            <%= form_with model: @work, url: public_works_path, method: :post do |f| %>

              <% @work.pet_ids.each do |pet_id| %>
                <%= f.hidden_field :pet_ids, multiple: true, value: pet_id %>
              <% end %>

              <%= f.hidden_field :work_name, value: @work.work_name %>
              <%= f.submit "確定", class: "btn btn-success btn-block" %>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>