<div class="container">
  <div class="tab-area col">

      <input type="radio" name="tab_name" id="tab1" checked>
      <label class="tab_class bold" for="tab1">全ての投稿</label>

      <div class="content-class col">
        <div class="col-10 m-auto text-field customer-content">
            <div class="h4 bold col">全ての投稿(<%= @posts.count %>件)</div>

            <div class="row col all-post m-auto">
              <% @posts.each do |post| %>
                <section class="col-lg-3 border mx-auto my-1">

                    <%= link_to public_post_path(post.id) do %>
                      <div class="col p-0 m-0">
                        <% if post.post_image.attached? %>
                          <%= image_tag post.post_image.variant(resize: "1000x1000", gravity: :center, crop: "500x500+0+0").processed, height: "100%", width: "100%", class: "col px-0 py-md-1 mx-auto" %>
                        <% end %>
                      </div>
                    <% end %>
                    <div></div>
                      <div class="row col customer-image">
                        <%= image_tag post.pet.get_pet_image(30,30) %>
                        <%= link_to post.pet.pet_name + post.pet.pet_gender, public_customer_path(post.customer.id), class: "other-link ml-2" %>
                      </div>

                    <h2 class="border-bottom"><%= post.post_title.truncate(10) %></h2>
                    <time><%= post.start_time.strftime('%Y/%m/%d %H:%M') %></time>

                </section>
              <% end %>
            </div>
        </div>
        <%= paginate @posts%>
      </div>

      <!--犬の投稿タブ-->
      <input type="radio" name="tab_name" id="tab2">
      <label class="tab_class bold" for="tab2">犬の投稿</label>
      <div class="content-class col">
        <div class="col-10 m-auto text-field customer-content">
          <div class="h4 bold col">全ての投稿(<%= @posts.count %>件)</div>

          <div class="row col all-post m-auto">
            <% @posts.each do |post| %>
              <section class="col-lg-3 border mx-auto my-1">

                  <%= link_to public_post_path(post.id) do %>
                    <div class="col p-0 m-0">
                      <% if post.post_image.attached? %>
                        <%= image_tag post.post_image.variant(resize: "1000x1000", gravity: :center, crop: "500x500+0+0").processed, height: "100%", width: "100%", class: "col px-0 py-md-1 mx-auto" %>
                      <% end %>
                    </div>
                  <% end %>
                  <div></div>
                    <div class="row col customer-image">
                      <%= image_tag post.pet.get_pet_image(30,30) %>
                      <%= link_to post.pet.pet_name + post.pet.pet_gender, public_customer_path(post.customer.id), class: "other-link ml-2" %>
                    </div>

                  <h2 class="border-bottom"><%= post.post_title.truncate(10) %></h2>
                  <time><%= post.start_time.strftime('%Y/%m/%d %H:%M') %></time>

              </section>
            <% end %>
          </div>
        </div>
        <%= paginate @posts%>
      </div>


      <!--猫の投稿タブ-->
      <input type="radio" name="tab_name" id="tab3" >
      <label class="tab_class bold" for="tab3">猫の投稿</label>
      <div class="content-class col">
        <div class="col-10 m-auto text-field customer-content">
          <div class="h4 bold col">全ての投稿(<%= @posts.count %>件)</div>

          <div class="row col all-post m-auto">
            <% @posts.each do |post| %>
              <section class="col-lg-3 border mx-auto my-1">

                  <%= link_to public_post_path(post.id) do %>
                    <div class="col p-0 m-0">
                      <% if post.post_image.attached? %>
                        <%= image_tag post.post_image.variant(resize: "1000x1000", gravity: :center, crop: "500x500+0+0").processed, height: "100%", width: "100%", class: "col px-0 py-md-1 mx-auto" %>
                      <% end %>
                    </div>
                  <% end %>
                  <div></div>
                    <div class="row col customer-image">
                      <%= image_tag post.pet.get_pet_image(30,30) %>
                      <%= link_to post.pet.pet_name + post.pet.pet_gender, public_customer_path(post.customer.id), class: "other-link ml-2" %>
                    </div>

                  <h2 class="border-bottom"><%= post.post_title.truncate(10) %></h2>
                  <time><%= post.start_time.strftime('%Y/%m/%d %H:%M') %></time>

              </section>
            <% end %>
          </div>
        </div>
        <%= paginate @posts%>
      </div>


      <!--その他投稿タブ-->
      <input type="radio" name="tab_name" id="tab4" >
      <label class="tab_class bold" for="tab4">その他投稿</label>
      <div class="content-class col">
        <div class="col-10 m-auto text-field customer-content">
          <div class="h4 bold col">全ての投稿(<%= @posts.count %>件)</div>

          <div class="row col all-post m-auto">
            <% @posts.each do |post| %>
              <section class="col-lg-3 border mx-auto my-1">

                  <%= link_to public_post_path(post.id) do %>
                    <div class="col p-0 m-0">
                      <% if post.post_image.attached? %>
                        <%= image_tag post.post_image.variant(resize: "1000x1000", gravity: :center, crop: "500x500+0+0").processed, height: "100%", width: "100%", class: "col px-0 py-md-1 mx-auto" %>
                      <% end %>
                    </div>
                  <% end %>
                  <div></div>
                    <div class="row col customer-image">
                      <%= image_tag post.pet.get_pet_image(30,30) %>
                      <%= link_to post.pet.pet_name + post.pet.pet_gender, public_customer_path(post.customer.id), class: "other-link ml-2" %>
                    </div>

                  <h2 class="border-bottom"><%= post.post_title.truncate(10) %></h2>
                  <time><%= post.start_time.strftime('%Y/%m/%d %H:%M') %></time>

              </section>
            <% end %>
          </div>
        </div>
        <%= paginate @posts %>

      </div>
  </div>
</div>