<div class="container">

<div class="col">
   <% if !@keyword %>
      <div class="row col">
        <h2>
          <%= current_customer.nick_name %>さんの投稿一覧
        </h2>
        <%= link_to new_public_post_path, class: "text-dark ml-3" do %>
          <i class="fas fa-2x fa-solid fa-plus"></i>
        <% end %>
      </div>
    <% else %>
      <h2>
        検索結果：　<%= @keyword %>
      </h2>
    <% end %>

    <div class="my-5">
      <div class="col-sm-5">
        <%= form_with url: search_public_posts_path, method: :get, local: true do |f| %>
          <div class="d-flex">
            <%= f.text_field :keyword, value: @keyword, class: "form-control m-0" %>
            <%= f.submit "検索", class: "btn btn-success ml-3" %>
          </div>
        <% end %>
      </div>
    </div>

</div>

<div class="col">


  <div class="row">

    <!--<div class="col text-field">-->
    <!--  <div class="col calendear">-->
    <!--    <%= month_calendar events: @posts do |date, posts| %>-->
    <!--      <%= date.day %>-->

    <!--      <% posts.each do |post| %>-->
    <!--        <div class="col p-2">-->
    <!--          <%= link_to post.post_title, public_post_path(post.id) %>-->
    <!--        </div>-->
    <!--      <% end %>-->
    <!--    <% end %>-->
    <!--  </div>-->
    <!--</div>-->


    <div class="col post-index">
      <table class="col">
        <thead>
          <th>ペット</th>
          <th>タイトル</th>
          <th>投稿日</th>
        </thead>

        <tbody>
          <% if @posts.count >= 1 %>
            <% @posts.each do |post| %>
              <tr>
                <td><%= link_to post.pet.pet_name, public_pet_path(post.pet.id) %></td>
                <td class="col-4"><%= link_to post.post_title, public_post_path(post.id) %></td>
                <td><%= post.start_time.strftime("%Y/%m/%d") %></td>
                <td class="row">
                  <% if post.customer_id == current_customer.id%>
                    <%= button_to edit_public_post_path(post.id), method: :get do %>
                      <i class="fas fa-solid fa-pen"></i>
                    <% end %>
                    &emsp;
                    <%= button_to public_post_path(post.id), method: :delete, data: {confirm: "本当に削除しますか？"} do %>
                      <i class="fas fa-solid fa-trash"></i>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% else %>
             <tr>
               <td colspan="3" class="col text-center">投稿はありません</td>
             </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>

  </div>

</div>