<div class="container">
  <div class="tab-area">

    <input type="radio" name="tab_name" id="tab1" checked>
    <label class="tab_class bold" for="tab1">全ての投稿</label>
    <div class="content-class col">
      <div class="col-md-10 mx-auto text-field customer-content">
        <% if @keyword %>
          <h6 class="h6 bold col">
            "<%= @keyword %>"の検索結果（<%= @post_all.count %>件）
          </h6>
        <% else %>
          <h6 class="h6 bold col">全ての投稿(<%= @post_all.count %>件)</h6>
        <% end %>
        
        <%= render 'public/shared/post_all_list', posts: @posts %>
      </div>
    </div>

    <!--犬の投稿タブ-->
    <input type="radio" name="tab_name" id="tab2">
    <label class="tab_class bold" for="tab2">犬の投稿</label>
    <div class="content-class col">
      
      <div class="col-md-10 mx-auto text-field customer-content">
        <% if @dog_post_all && @dog_posts %>
          <h6 class="h6 bold col">犬の投稿(<%= @dog_post_all.count %>件)</h6>
          <%= render 'public/shared/post_all_list', posts: @dog_posts %>
        <% else %>
          <p class="no-data h2">
            投稿はありません
          </p>
        <% end %>
      </div>
      
    </div>


    <!--猫の投稿タブ-->
    <input type="radio" name="tab_name" id="tab3" >
    <label class="tab_class bold" for="tab3">猫の投稿</label>
    <div class="content-class col">
      
      <div class="col-md-10 mx-auto text-field customer-content">
        <% if @cat_post_all && @cat_posts %>
          <h6 class="h6 bold col">猫の投稿(<%= @cat_post_all.count %>件)</h6>
          <%= render 'public/shared/post_all_list', posts: @cat_posts %>
        <% else %>
          <p class="no-data h2">
            投稿はありません
          </p>
        <% end %>
      </div>
      
    </div>


    <!--その他投稿タブ-->
    <input type="radio" name="tab_name" id="tab4" >
    <label class="tab_class bold" for="tab4">その他投稿</label>
    <div class="content-class col">
      
      <div class="col-md-10 mx-auto text-field customer-content">
        <% if @other_post_all && @other_posts %>
          <h6 class="h6 bold col">その他の投稿(<%= @other_post_all.count %>件)</h6>
          <%= render 'public/shared/post_all_list', posts: @other_posts %>
        <% else %>
          <p class="no-data h2">
            投稿はありません
          </p>
        <% end %>
      </div>
      
    </div>
    
</div>