<div class="container">
<% if @post.customer.status == "released" || @post.customer.id == current_customer.id %>
  <div class="post-show">
    <div class="h2 my-5 col-md-10 mx-auto">
      <%= link_to @post.customer.nick_name, public_customer_path(@post.customer.id), class: "default-color other-link" %>さんの記事詳細ページ
    </div>
    <div class="content col-md-10 m-auto px-0">
      <div class="post-image col">
        <% if @post.post_image.attached? %>
          <%= image_tag @post.get_post_image(500,500), class: "col" %>
        <% end %>
      </div>

      <div class="post-text col">
        <h3><%= @post.post_title %></h3>

        <p>
          <%= @post.post_content %>
        </p>

        <div class="h6 row justify-content-end">
          <%= @post.created_at.strftime("%Y年%m月%d日") %>
          &emsp;<%= link_to @post.pet.pet_name, public_pet_path(@post.pet_id), class: "other-link" %><%= @post.pet.gender == "♂" ? "くん" : "ちゃん" %>の投稿
          <%= render "public/shared/like", post: @post %>
        </div>

      </div>

      <div class="comment col border-top">
        <%= form_with model: [@post,@comment],url: public_post_comments_path(@post.id), method: :post do |f| %>
          <div class="col-md-7 m-auto">
            <%= f.text_area :comment_content, rows: "2", class: "form-control" %>
            <%= f.hidden_field :post_id, value: @post.id %>
            <%= f.submit "コメントをする", class: "btn btn-success btn-sm my-3" %>
          </div>
        <% end %>
      </div>

      <div class="comment-list m-auto">
        <table class="table-striped">
          <% @comments.each do |comment| %>
            <tr>
              <th class="col-2"><%= link_to comment.customer.nick_name, public_customer_path(comment.customer.id), class: "btn-links btn-block btn-sm" %></th>
              <td class="col-6"><%= comment.comment_content %></td>
              <td class="col-4"><%= comment.created_at.strftime("%Y年%m月%d日") %></td>
            </tr>
          <% end %>
        </table>
      </div>

    </div>
  </div>

  <div class="row col-md-10 mx-auto mt-5 mb-3">
      <%= link_to  public_customer_post_index_path(@post.customer.id), class: "default-color other-link" do %>
        <i class="fas fa-solid fa-reply ml-2"></i><%= @post.customer.nick_name %>さんの投稿一覧
      <% end %>
  </div>

  <div class="col-md-10 mx-auto mb-5">
      <%= link_to  public_customer_path(@post.customer.id), class: "default-color other-link" do %>
        <i class="fas fa-solid fa-reply ml-2"></i>プロフィール
      <% end %>
  </div>
<% else %>
非公開です
<% end %>
</div>