<div class="container">
<% if @post.customer.status == "released" || @post.customer.id == current_customer.id %>
  <div class="post-show">
    <h4 class="h4 mb-5 col-md-6 mx-auto">
      <%= link_to @post.customer.nick_name, public_customer_path(@post.customer.id), class: "default-color other-link" %>さんの記事詳細
    </h4>
    <div class="text-field col-md-6 m-auto px-0">
      <section>
        <div class="post-image col">
          <%= image_tag @post.get_post_image(500,500), class: "col px-0" %>
        </div>

        <div class="post-text col">
          <h3 class="h3 mb-3"><%= @post.post_title %></h3>
          <p class="mb-3"><%= @post.post_content %></p>
        </div>

        <time class="col small text-muted text-left">
          <%= @post.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %>
        </time>

        <div class="col d-flex small text-muted text-left border-top">
          
          <%= link_to @post.pet.pet_name, public_pet_path(@post.pet_id), class: "other-link" %><%= @post.pet.gender == "♂" ? "くん" : "ちゃん" %>の投稿
          
          <div id="like-box">
            <%= render "public/shared/like", post: @post %>
          </div>
        </div>
        
        <div>
          <%= render 'public/comments/comment_form', post: @post, comment: @comment %>
        </div>
        
        
        <div id="comment-box">
          <%= render 'public/comments/post_comments', post: @post, comments: @comments %>
        </div>
        
      </section>
    </div>
  </div>

  <div class="row col-md-6 mx-auto mt-5 mb-3">
      <%= link_to  public_customer_post_index_path(@post.customer.id), class: "default-color other-link" do %>
        <i class="fas fa-solid fa-reply mr-2"></i><%= @post.customer.nick_name %>さんの投稿一覧
      <% end %>
  </div>
  
  <div class="col-md-6 mx-auto my-4">
    <%= link_to :back, class: "default-color other-link" do %>
      <i class="fas fa-solid fa-reply mr-2"></i>戻る
    <% end %>
  </div>
<% else %>
非公開です
<% end %>
</div>