<div class="container">
<% if @post.customer.status == "released" || @post.customer.id == current_customer.id %>
  <div class="post-show">
    <h4 class="h4 mb-5 col-md-6 mx-auto">
      <%= link_to @post.customer.nick_name, public_customer_path(@post.customer.id), class: "default-color other-link" %>さんの記事詳細
    </h4>
    <div class="text-field col-md-6 m-auto px-0">
      <section>
        <div class="post-image col">
          <%= image_tag @post.get_post_image(500,500), class: "col px-0" %>
        </div>

        <div class="post-text col">
          <h3 class="h3 mb-3"><%= @post.post_title %></h3>
          <p class="mb-3"><%= @post.post_content %></p>
        </div>

        <time class="col small text-muted text-left">
          <%= @post.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %>
        </time>

        <div class="col small text-muted text-left border-top">
          <%= link_to @post.pet.pet_name, public_pet_path(@post.pet_id), class: "other-link" %><%= @post.pet.gender == "♂" ? "くん" : "ちゃん" %>の投稿
          <%= render "public/shared/like", post: @post %>
        </div>


        <div class="col px-0 border-top">
          <%= form_with model: [@post,@comment],url: public_post_comments_path(@post.id), method: :post do |f| %>
            <div class="col">
              <%= f.text_area :comment_content, rows: "2", class: "form-control mx-auto mt-3" %>
              <%= f.hidden_field :post_id, value: @post.id %>
              <%= f.submit "コメントをする", class: "btn btn-success btn-sm my-3" %>
            </div>
          <% end %>
        </div>

        <div class="m-auto">
          <div class="col mx-0 px-0">
            <% @comments.each do |comment| %>
            <div class="col my-2 border-top">
              <div class="col row py-2 align-center">
                <%= image_tag comment.customer.get_customer_image(30,30), class: "image-circle"%>
                <%= link_to comment.customer.nick_name, public_customer_path(comment.customer.id), class: "other-link ml-2" %>
              </div>
              <p class="col"><%= comment.comment_content %></p>
              
              <% if comment.customer_id == current_customer.id %>
              <div class="text-right">
                <%= button_to "削除", public_post_comment_path(comment.post_id,comment.id), method: :delete, data: { confirm: "本当に削除しますか？" },class: "other-link btn-sm" %>
              </div>
              <% end %>
              
              <div class="small text-muted text-right mt-2">
                <%= comment.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
              </div>
            </div>

            <% end %>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="row col-md-6 mx-auto mt-5 mb-3">
      <%= link_to  public_customer_post_index_path(@post.customer.id), class: "default-color other-link" do %>
        <i class="fas fa-solid fa-reply mr-2"></i><%= @post.customer.nick_name %>さんの投稿一覧
      <% end %>
  </div>
  <div class="col-md-6 mx-auto my-4">
    <%= link_to :back, class: "default-color other-link" do %>
      <i class="fas fa-solid fa-reply mr-2"></i>戻る
    <% end %>
  </div>
<% else %>
非公開です
<% end %>
</div>