<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>消耗品一覧</h2>
      <div class="expendables-list">
        <table class="col">
          <tr>
            <th>a</th>
          </tr>
          <tr>
            <td>a</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-sm-6">
      <h2>消耗品登録</h2>
      <div>
        <table class="col-sm-10">
        <%= form_with model: @expendable, url: public_pet_expendables_path, method: :@post do |f| %>
        <%= f.hidden_field :pet_id, :value => @pet.id %>
          <tr>
            <td class="row">
              <%= f.label :expendable_name, "備品名", class: "col-form-label col-4" %>
              <%= f.text_field :expendable_name, placeholder: "備品名", class: "form-control col-8" %>
            </td>
          </tr>
          <tr>
            <td class="row">
              <%= f.label :amount, "個数", class: "col-form-label col-4" %>
              <%= f.select :amount, *[1..10], { include_blank: '個数選択'}, required:true, class: "form-control col-8" %>
            </td>
          </tr>

        <% end %>
        </table>
      </div>
    </div>
  </div>
</div>