<div class="container">
  <div class="col-md-10 m-auto h2 bold">スケジュール編集</div>
  <div class="row">
    <div class="col">
      <div class="col-md-10 m-auto">
      <%= form_with model: @schedule, url: public_schedule_path, method: :patch do |f| %>
      <%= render "public/shared/error_messages", resource: @schedule %>
      <%= f.hidden_field :customer_id, :value => current_customer.id %>

      <div class="text-field">
        <table class="col">
          <tr>
            <td><%= f.label :schedule_title, "スケジュール名" %></td>
            <td><%= f.text_field :schedule_title, class: "form-control" %></td>
          </tr>

          <tr>
            <td><%= f.label :schedule_content, "内容" %></td>
            <td><%= f.text_area :schedule_content, rows: "5", class: "form-control" %></td>
          </tr>

          <tr>
            <td><%= f.label :start_time, "予定日" %></td>
            <td><%= f.date_select :start_time, use_month_numbers: true %></td>
          </tr>

          <tr>
            <td></td>
            <td><%= f.submit "変更を保存", class: "btn btn-success btn-block" %></td>
          </tr>
        </table>
      </div>

      <% end %>
    </div>
    </div>
  </div>
  <div class="col-md-10 mx-auto my-5">
    <%= link_to  public_schedule_path(@schedule.id), class: "default-color other-link" do %>
      <i class="fas fa-solid fa-reply mr-2"></i>スケジュール一詳細
    <% end %>
  </div>
</div>