
  <div class="col p-0 m-0">
    <h2 class="mb-5">
      スケジュール一覧
    </h2>
  </div>

  <div class="navbar-nav btn-sm ml-1">
      <div class="nav-items dropdown my-3" aria-labelledby="navbarDropdown">
        <a class="btn-revers dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          新規登録
        </a>
        <div class="dropdown-menu schedule-form col-md-6">
          <div class="col">
          <%= form_with model: @schedule, url: public_schedules_path, method: :post do |f| %>
          <%= render "public/shared/error_messages", resource: @schedule %>

            <div class="form-group">
              <div class="col col-form-label"><%= f.label :schedule_title %></div>
              <div class="col"><%= f.text_field :schedule_title, class: "form-control" %></div>
            </div>

            <div class="form-group">
              <div class="col col-form-label"><%= f.label :schedule_content %></div>
              <div class="col"><%= f.text_area :schedule_content, rows: "5", class: "form-control" %></div>
            </div>

            <div class="form-group">
              <div class="col col-form-label"><%= f.label :start_time %></div>
              <div class="col"><%= f.date_select :start_time, use_month_numbers: true %></div>
            </div>

            <div class="form-group">
              <div class="col"><%= f.submit "作成", class: "btn btn-success btn-block" %></div>
            </div>

          <% end %>
          </div>
        </div>
      </div>
    </div>

  <div class="schedule col m-0 p-0">
   <%= month_calendar events: @schedules do |date, schedules| %>
      <%= date.day %>

      <% if schedules.length < 3 %>
        <% schedules.each do |schedule| %>
          <div class="col p-0">
            <%= link_to schedule.schedule_title.truncate(5), public_schedule_path(schedule.id), class: "default-color other-link" %>
          </div>
        <% end %>
      <% else %>
        <div class="col p-0">
          <%= link_to "スケジュール詳細", public_schedules_schedule_list_path(date: date.year.to_s + "-" + date.month.to_s + "-" + date.day.to_s), class: "default-color other-link"  %>
        </div>
      <% end %>
    <% end %>
  </div>

