<div class="container">
  <h2>スケジュール詳細</h2>
  <div class="row">
    <div class="col-8 mx-auto text-field schedule-show">
      <table class="col">
        <tr>
          <td>タイトル</td>
          <td><%= @schedule.schedule_title%></td>
        </tr>

        <tr>
          <td>内容</td>
          <td><%= @schedule.schedule_content%></td>
        </tr>

        <tr>
          <td>予定日</td>
          <td><%= @schedule.start_time.strftime("%Y/%m/%d") %></td>
        </tr>

        <tr>
          <td></td>
          <td>
            <%= link_to "編集", edit_public_schedule_path(@schedule.id), class: "btn-links btn-sm" %>
            <%= link_to "削除", public_schedule_path(@schedule.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger btn-sm ml-2" %>
          </td>
        </tr>

      </table>
    </div>
  </div>
  <div class="my-5">
    <%= link_to  public_schedules_path, class: "color other-link" do %>
      <i class="fas fa-solid fa-reply"></i>スケジュール一覧へ
    <% end %>
  </div>
</div>