<div class="col px-0 border-top">
  <%= form_with model: [@post,@comment], url: public_post_comments_path(@post.id), method: :post do |f| %>
  <%= render "public/shared/error_messages", resource: @comment %>
    <div class="col">
      <%= f.text_area :comment_content, rows: "2", class: "form-control mx-auto mt-3" %>
      <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.submit "コメントをする", class: "btn btn-success btn-sm my-3" %>
    </div>
  <% end %>
</div>