<div class="container">
  <div class="row">

    <div class="col-md-8">
      <div class="col px-0 text-field">
        <%= image_tag '24971705_m.jpg', class: "col my-3" %>

        <div class="col mx-0 mt-5">
          <h2 class="col mx-auto h2 bold text-center border-bottom">新着投稿</h2>
          <% if @posts.count >= 1 %>
            <% @posts.each do |post| %>
              <div class="col-md-8 text-field top-content">
                <div class="col p-md-2 d-flex px-0 user-info">
                  <%= image_tag post.customer.get_customer_image(30,30) %>
                  <%= link_to post.customer.nick_name, public_customer_path(post.customer.id), class: "other-link mx-2" %>
                  <time class="small text-muted">
                    <%= time_ago_in_words(post.created_at).upcase %>
                  </time>
                </div>

                <section class="col">
                  <%= link_to public_post_path(post.id), class: "other-link" do %>
                    <h4 class="h4"><%= post.post_title.truncate(10) %></h4>
                    <p><%= post.post_content.truncate(30) %></p>
                    <%= image_tag post.post_image.variant( resize: "1000x1000", gravity: :center, crop: "800x800+0+0" ).processed , width: "100%", class: "border-radius mt-3 p-0" %>
                  <% end %>
                </section>
              </div>
            <% end %>
          <% else %>
            <div class="col text-center no-data">投稿はありません</div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
        <div class="col text-field">
          <h4 class="col-lg-8 mx-auto text-center h4 bold mb-3 border-bottom">投稿画像</h4>
          <div class="row">
            <% if @order_posts.count >= 1 %>
              <% @order_posts.each do |order_post| %>
                <% if order_post.post_image.attached? %>
                  <div class="col-6">
                    <%= link_to public_post_path(order_post.id) do %>
                      <%= image_tag order_post.post_image.variant( resize: "1000x1000", gravity: :center, crop: "1000x800+0+0" ).processed, width: "100px", height: "100px", maxheight: "100px", class: "object-fit-img col px-0 py-md-1 mx-auto" %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <p class="col no-data">投稿はありません</p>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>