<div class="container">
  <div class="row">

    <div class="col-md-8">
      <div class="col text-field">
        <%= image_tag '24971705_m.jpg', class: "col image" %>

        <div class="top-main col">
          <div class="col-lg-8 mx-auto h2 bold text-center border-bottom">新着投稿</div>
          <% if @random_posts.count >= 1 %>
            <% @posts.each do |post| %>
              <div class="col-md-8 text-field top-content">
                <div class="col row">
                  <%= image_tag post.customer.get_customer_image(50,50) %>
                  <%= link_to post.customer.nick_name, public_customer_path(post.customer.id), class: "other-link mx-2" %>
                  <%= post.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                </div>
                  <ul class="m-3">
                    <li><%= post.post_title.truncate(10) %></li>
                    <li><%= post.post_content.truncate(30) %></li>
                    <li><%= link_to '詳細', public_post_path(post.id), class: "details-link" %></li>
                  </ul>
              </div>
            <% end %>
          <% else %>
            <div class="col-md-8 m-auto text-center">投稿はまだありません</div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
        <div class="col text-field image-field">
          <div class="col-lg-8 mx-auto text-center h4 bold mb-3 border-bottom">投稿画像</div>
          <div class="row image-list">
            <% if @random_posts.count >= 1 %>
              <% @random_posts.each do |random_post| %>
                <% if random_post.post_image.attached? %>
                <div class="col-6 m-auto post-image">
                  <%= link_to public_post_path(random_post.id) do %>
                    <%= image_tag random_post.post_image.variant( resize: "800x800", gravity: :center, crop: "500x500+0+0" ).processed, width: "100%", height: "100%", class: "object-fit-img col px-0 py-md-1 mx-auto" %>
                  <% end %>
                </div>
                <% end %>
              <% end %>
            <% else %>
              <div class="col-8 m-auto text-center">投稿はまだありません</div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>