<div class="container">

  <div class="row h4 bold my-5 mx-auto col-md-8">
      <%= @pet.pet_name %><%= @pet.pet_gender %>の投稿一覧
  </div>

  <div class="row">
    <div class="col">
      <div class="col-md-8 post-index m-auto">
        <table class="col text-center">
          <thead>
            <th>タイトル</th>
            <th>投稿日</th>
          </thead>

          <tbody>
            <% if @posts.count >= 1 %>
              <% @posts.each do |post| %>
                <tr>
                  <td class="col-6"><%= link_to post.post_title.truncate(13), public_post_path(post.id) %></td>
                  <td class="col-6"><%= post.start_time.strftime("%Y/%m/%d") %></td>
                </tr>
              <% end %>
            <% else %>
               <tr>
                 <td colspan="3" class="col text-center">
                   <div class="no-posts">投稿はありません</div>
                  </td>
               </tr>
            <% end %>
          </tbody>
        </table>
        <div class="col text-center">
          <%= paginate @posts %>
        </div>
      </div>
    </div>
  </div>

  <div class="my-5 mx-auto col-md-8">
    <%= link_to public_customers_post_path(@customer.id), class: "default-color other-link" do %>
      <i class="fas fa-solid fa-reply mr-2"></i><%= @customer.id != current_customer.id ? @customer.nick_name + "さんの投稿一覧" : "投稿一覧" %>
    <% end %>
  </div>
</div>