<div class="container">
  <div class="row mt-5">
    <div class="col">
      <div class="h2 bold pb-5 col-sm-6 m-auto">会員一覧</div>
      <div class="col-sm-6 m-auto text-field admin-customers custom-table p-3">
        <table class="col text-center">

          <% if @customers.count >= 1 %>
            <% @customers.each do |customer| %>
            <tr class="border-bottom">
              <td class="px-0 bold"><%= customer.nick_name %></td>
              <td class="px-0"><%= customer.email %></td>
            </tr>

            <tr>
              <td colspan="2" class="col text-right">
                <%= link_to "投稿一覧", admin_customer_posts_path(customer.id), class: "btn btn-success btn-sm" %>
                <%= link_to customer.is_deleted?, edit_admin_customer_path(customer.id), class: "other-link ml-2" %>
              </td>
            </tr>
            <% end %>
          <% else %>
            <tr>
              <td>
                <p class="no-date">
                  登録されていません
                </p>
              </td>
            </tr>
          <% end %>
        </table>
        <div class="col text-center">
          <%= paginate @customers %>
        </div>
      </div>
    </div>
  </div>
</div>