<div class="container">
  <div class="h2 bold"><%= @customer.nick_name %>さんの投稿一覧</div>
  <div class="row">
    <div class="admin-posts col text-field custom-table">
       <table class="col-sm-10 m-auto">
         <tr>
           <th>タイトル</th>
           <th>投稿日</th>
           <th>コメント</th>
           <th>いいね</th>
         </tr>

         <% @posts.each do |post| %>
           <tr>
             <td><%= link_to post.post_title.truncate(10), admin_customer_post_path(@customer.id,post.id), class: "btn-links col" %></td>
             <td><%= post.created_at.strftime("%Y/%m/%d") %></td>
             <td><%= post.comments.count %>件</td>
             <td><%= post.likes.count %>件</td>
           </tr>
         <% end %>
       </table>

       </ul>
       <%= paginate @posts %>
    </div>
  </div>
  <div class="mt-5">
    <%= link_to  admin_customers_path(@customer.id), class: "default-color other-link" do %>
      <i class="fas fa-solid fa-reply mr-2"></i>会員一覧
    <% end %>
  </div>
</div>