<div class="container">
  <div class="row">

    <div class="col-lg-6">
      <div class="col text-field">
        <div class="col mb-5">
          <p class="col my-3">タイトル：<%= @post.post_title %></p>

          <p class="col my-3">
            コンテンツ：
            <%= @post.post_content %>
          </p>
        </div>

        <div class="col">
          <div class="col m-auto">
            <%= image_tag @post.post_image.variant( resize: "1000x1000", gravity: :center, crop: "800x800+0+0" ).processed, width: "100%", class: "border-radius" %>
          </div>
        </div>
      </div>

    </div>


    <div class="col-lg-5 offset-md-1">
      <div class="text-field col">
        <h3 class="bold ml-3">コメント一覧</h3>
        <% if @comments.count >= 1 %>
          <% @comments.each do |comment| %>
            <div class="col border-top pt-2">
              <div class="row col">
                <div class="col-3">
                  <%= comment.customer.nick_name %>
                </div>
                <p class="col-9">
                  <%= comment.comment_content %>
                </p>
              </div>
              <div class="small text-muted text-right">
                <%= comment.created_at.strftime("%Y/%m/%d") %>
              </div>
            </div>
          <% end %>
          <%= paginate @comments %>
        <% else %>
          <p class="ml-3">
            コメントは<%= @comments.count %>件です。
          </p>
        <% end %>

      </div>
    </div>
  </div>
  <div class="mt-5">
    <%= link_to  admin_customer_posts_path(@post.pet.customer.id), class: "default-color other-link" do %>
      <i class="fas fa-solid fa-reply mr-2"></i>投稿一覧
    <% end %>
  </div>
</div>