<div class="container">
  <div class="row admin">
    <div class="col-lg-6 admin-post-show text-field">

      <div class="col my-5">
        <table class="col">
          <tr>
            <th class="col-4">タイトル</th>
            <td class="col-8"><%= @post.post_title %></td>
          </tr>

          <tr>
            <th class="col-4">コンテンツ</th>
            <td class="col-8"><%= @post.post_content %></td>
          </tr>
        </table>
      </div>

      <div class="col">
        <div class="col-8 m-auto">
          <%= image_tag @post.get_post_image(500,500), class: "post-image" %>
        </div>
      </div>
    </div>

    <div class="col-lg-5 text-field offset-md-1">
      <h3 class="bold ml-3">コメント一覧</h3>
      <div class="col">
        <% if @comments.count >= 1 %>
          <table class="col m-auto">
            <% @comments.each do |comment| %>
            <tr>
              <td><%= comment.customer.nick_name %></td>
              <td><%= comment.comment_content %></td>
              <td><%= comment.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
            </tr>
            <% end %>
          </table>
          <%= paginate @comments %>
        <% else %>
          <div class="ml-3">
            コメントは<%= @comments.count %>件です。
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <%= link_to  admin_customer_posts_path(@post.pet.customer.id), class: "default-color other-link" do %>
      <i class="fas fa-solid fa-reply mr-2"></i>投稿一覧
    <% end %>
  </div>
</div>