<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="mb-5">新規登録</h2>

      <%= form_with model: @customer, url: customer_registration_path, method: :post do |f| %>
        <%= render "public/shared/error_messages", resource: @customer %>

        <table class="customer_info customer_form">
          <thead>
            <th></th>
            <th></th>
            <th></th>
          </thead>

          <tbody>

            <tr>
              <td><%= f.label :name, "名前", class: "customer_name" %></td>
              <td><%= f.text_field :name, autofocus: true, :placeholder =>"山田太郎" %></td>
            </tr>

            <tr>
              <td><%= f.label :nick_name, "ニックネーム" %></td>
              <td><%= f.text_field :nick_name, autofocus: true, autocomplete: "nick_name" %></td>
            </tr>


            <tr>
              <td><%= f.label :email, "メールアドレス" %></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
            </tr>

            <tr>
              <td>
                <%= f.label :password, "パスワード(#{@minimum_password_length}文字以上)" %>
              </td>
              <td><%= f.password_field :password, autocomplete: "new-password" %></td>
            </tr>

            <tr>
              <td><%= f.label :password_confirmation, "パスワード(確認用)" %></td>
              <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
            </tr>

            <tr>
              <td></td>
              <td><%= f.submit "Sign up", class: "btn btn-success" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
