<div class="container">
  <div class="row">
    <div class="use-item-index col-lg-8 mx-auto">
      <h2>使用アイテム</h2>
      <div class="use_item_list col">
        <% if @use_items.count >= 1 %>
        <table class="col">
            <tr>
              <th>商品名</th>
              <th>使用量</th>
              <th></th>
            </tr>

            <% @use_items.each do |use_item| %>
            <tr>
              <td class="col-7 bold"><%= use_item.item.item_name %></td>
              <td class="col-4">
                <%= form_with model: use_item, url: public_use_item_path(use_item.id), method: :patch do |f| %>
                  <div class="row m-0 text-center">
                    <%= f.number_field :amount_used, class: "form-control-sm col-6" %>
                    <%= f.hidden_field :customer_id, :value => current_customer.id %>
                    <%= f.hidden_field :item_id, :value => use_item.item_id%>
                    <%= f.submit "変更", class: "btn-sm btn-change col-5 mx-1" %>
                  </div>
                <% end %>
              </td>
              <td class="col-1 px-0 text-center">
                    <%= button_to public_use_item_path(use_item.id), method: :delete, data: {confirm: "本当に削除しますか？"} do %>
                      <i class="fas fa-solid fa-trash"></i>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </table>
        
        <%= form_with model: @work, url: log_public_works_path do |f| %>
        <div class="col p-0 pt-5">
          <table class="col">
            <tr>
              <th class="col-7"><%= f.label :pet_name, "ペット選択" %></th>
              <td class="col-4">
                <%= f.select :pet_name, options_from_collection_for_select(current_customer.pets, :id, :pet_name)  %>
              </td>
              <td class="col-1"></td>
            </tr>
            
            <tr>
              <th class="col-7"><%= f.label :work_name, "作業名" %></th>
              <td class="col-4">
                <%= f.text_field :work_name, class: "form-control" %>
              </td>
              <td class="col-1"></td>
            </tr>
            
            <%= f.hidden_field :customer_id, :value => current_customer.id %>
            
            <tr>
              <th class="col-7"></th>
              <td class="col-4">
                <%= f.submit "作業作成" , class: "btn-change btn-block"%>
              </td>
              <td></td>
            </tr>
            
          </table>
        </div>
        <% end %>
        
        <% else %>
        <div class="not-use-items col-lg-4 mx-auto">使用アイテムは空です</div>
        <% end %>
      </div>
      <div class="items-link">
        <%= link_to "戻る", public_items_path %>
      </div>
    </div>
  </div>
  
</div>