<div class="container">
  <div class="row">
    <div class="col pb-5">
      <h2 class="pb-5">分類</h2>

      <%= form_with model: @group, url: admin_groups_path, method: :post do |f| %>
      <div class="row col-sm-8 form-group">
        <div class="col-sm-4 bold"><%= f.label :group_name, "グループ名", class: "col-form-label" %></div>
        <div class="col-sm-4"><%= f.text_field :group_name, placeholder: "グループ名", class: "form-control" %></div>
        <div class="col-sm-4"><%= f.submit "新規登録", class: "btn btn-success" %></div>
      </div>
      <% end %>

      <div class="my-5">
        <table class="col-3 table">
          <thead>
            <th colspan="2">グループ名</th>
          </thead>

          <tbody>
            <% @groups.each do |group| %>
            <tr>
              <td><%= group.group_name %></td>
              <td class="col-6 text-right"><%= link_to "編集", edit_admin_group_path(group.id), class: "btn btn-success" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>