<div class="container">

  <div class="row col my-5">
    <h2>
      <%= @customer.nick_name %>さんの投稿一覧
    </h2>
    <% if @customer.id == current_customer.id %>
      <%= link_to new_public_post_path, class: "text-warning ml-3" do %>
        <i class="fas fa-2x fa-solid fa-plus"></i>
      <% end %>
    <% end %>
  </div>

  <div class="row">
    <div class="col post-index">
      <table class="col">
        <thead>
          <th>ペット選択</th>
          <th>タイトル</th>
          <th>投稿日</th>
        </thead>

        <tbody>
          <% if @posts.count >= 1 %>
            <% @posts.each do |post| %>
              <tr>
                <td><%= link_to post.pet.pet_name, public_pets_post_path(post.pet.id), class: "btn-links btn-sm" %></td>
                <td class="col-4"><%= link_to post.post_title, public_post_path(post.id) %></td>
                <td><%= post.start_time.strftime("%Y/%m/%d") %></td>

              <% if @customer.id == current_customer.id %>
                <td class="row">
                  <% if post.customer_id == current_customer.id%>
                    <%= button_to edit_public_post_path(post.id), method: :get do %>
                      <i class="fas fa-solid fa-pen"></i>
                    <% end %>
                    &emsp;
                    <%= button_to public_post_path(post.id), method: :delete, data: {confirm: "本当に削除しますか？"} do %>
                      <i class="fas fa-solid fa-trash"></i>
                    <% end %>
                  <% end %>
                </td>
              <% end %>

              </tr>
            <% end %>
          <% else %>
             <tr>
               <td colspan="3" class="col text-center">
                 <div class="no-posts">投稿はありません</div>
                </td>
             </tr>
          <% end %>
        </tbody>
      </table>
      <div class="col text-center">
        <%= paginate @posts %>
      </div>
    </div>
  </div>

</div>
