<div class="container">
  <div class="row">
    <div class="col-md-8 m-auto">
      <div class="h2 mb-5">ログイン</div>
      
      <%= form_with model: @customer, url: customer_session_path, method: :post do |f| %>
      <%= render "public/shared/alert" %>

        <div class="bold mb-4">会員の方はこちらからログイン</div>
        <div class="col">
          <div class="form-group row">
            <%= f.label :email, "メールアドレス", class: "col-form-label col-sm-4 px-0" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-sm-8" %>
          </div>

          <div class="form-group row">
            <%= f.label :password, "パスワード", class: "col-form-label col-sm-4 px-0" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control col-sm-8" %>
          </div>

          <div class="form-group row">
            <div class="col-sm-4"></div>
            <% if devise_mapping.rememberable? %>
            <div class="col-sm-8 px-0">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
            <% end %>
          </div>

          <div class="form-group row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8 px-0">
              <%= f.submit "ログイン", class: "btn btn-success col-6" %>
            </div>
          </div>

        </div>
      <% end %>

      <div class="pt-5">
        <div class="bold mb-3">登録がお済みでない方</div>
        <%= link_to "こちら", new_customer_registration_path, class: "btn btn-success mr-3" %>
      </div>

      <div class="pt-5">
        <div class="bold mb-3">管理者ログイン</div>
        <%= link_to "こちら", new_admin_session_path, class: "btn btn-success mr-3" %>
      </div>

      <div class="pt-5">
        <div class="bold mb-3">ゲストログイン（閲覧用）</div>
        <%= link_to 'こちら', public_guest_sign_in_path, method: :post, class: "btn btn-success mr-3" %>
      </div>
    </div>
  </div>
</div>
