<div class="container">
  <div class="row">
    <div class="col mt-5">
      <div class="h4 bold mb-5">ペット情報編集</div>
      <div class="col">
      <%= form_with model: @pet, url: public_pet_path, method: :patch do |f| %>
        <%= render "public/shared/error_messages", resource: @pet %>

        <div class="row col p-0 m-0">
          <div class="col-md-6">
            <div class="form-group row">
              <%= f.label :pet_name, class: "col-md-3 col-form-label bold px-0" %>
              <%= f.text_field :pet_name, placeholder: "ペット名", class: "col-md-7 form-control m-0" %>
            </div>

            <div class="form-group row">
              <%= f.label :group_id, class: "col-md-3 col-form-label bold px-0" %>
              <%= f.select :group_id, options_from_collection_for_select(Group.all, :id, :group_name), { prompt: '選択してください'}, { class: 'col-md-7 form-control' , required: true } %>
            </div>

            <div class="form-group row">
              <%= f.label :pet_kind, class: "col-md-3 col-form-label bold px-0" %>
              <%= f.text_field :pet_kind, placeholder: "例: ダックスフンド、チンチラ", class: "col-md-7 form-control" %>
            </div>

            <div class="form-group row">
              <%= f.label :gender, class: "col-md-3 col-form-label bold px-0" %>
              <%= f.select :gender, options_for_select(Pet.genders.map { |key, value| [key.humanize, key] }), {prompt: "選択してください"}, class: "col-md-7 form-control" %>
            </div>

            <div class="form-group row">
              <%= f.label :age, class: "col-md-3 col-form-label bold px-0" %>
              <%= f.text_field :age, class: "col-md-7 form-control" %></p>
            </div>

            <div class="form-group row">
              <%= f.label :birthday, class: "col-md-3 col-form-label bold px-0" %>
              <%= f.text_field :birthday, placeholder: "2022-01-01", class: "col-md-7 form-control" %>
            </div>

            <div class="form-group row">
              <%= f.label :pet_image, class: "col-md-3 col-form-label bold px-0" %>
              <%= f.file_field :pet_image, accept: "image/*", class: "col-md-7 pl-0" %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group row">
              <%= f.label :pet_introduction, class: "col-md-3 col-form-label bold px-0" %>
              <%= f.text_area :pet_introduction, rows: "10", class: "col-md-7 form-control" %>
            </div>
          </div>
        </div>

        <div class="row col-md-6 p-0 m-0">
          <div class="col-md-3"></div>
          <div class="col-md-7 p-0 m-0"><%= f.submit "登録", class: "btn btn-success btn-block" %></div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  <div class="my-5">
    <%= link_to  public_pet_path(@pet.id), class: "default-color other-link" do %>
      <i class="fas fa-solid fa-reply mr-2"></i>ペット詳細
    <% end %>
  </div>
</div>