<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <h2>ペット情報編集</h2>
      <br>
       <%= form_with model: @pet, url: public_pet_path, method: :patch do |f| %>
        <%= render "public/shared/error_messages", resource: @pet %>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <%= f.label :pet_name, "ペット名", class: "col-3 col-form-label" %>
              <%= f.text_field :pet_name, placeholder: "ペット名", class: "col-7 form-control" %>
            </div>

            <div class="form-group row">
              <%= f.label :group_id, "カテゴリ", class: "col-3 col-form-label" %>
              <%= f.select :group_id, options_from_collection_for_select(Group.all, :id, :group_name), { include_blank: '選択してください'}, { class: 'col-7 form-control' , required: true } %>
            </div>

            <div class="form-group row">
              <%= f.label :gender, "性別", class: "col-3 col-form-label" %>
              <%= f.select :gender, options_for_select(Pet.genders.map { |key, value| [key.humanize, key] }), {prompt: "選択してください"}, class: "col-7 form-control" %>
            </div>

            <div class="form-group row">
              <%= f.label :age, "年齢", class: "col-3 col-form-label" %>
              <%= f.text_field :age, class: "col-7 form-control" %>　<p class="col-form-label">才</p>
            </div>

            <div class="form-group row">
              <%= f.label :birthday, "誕生日", class: "col-3 col-form-label" %>
              <%= f.text_field :birthday, placeholder: "20220101", class: "col-7 form-control" %>
            </div>

            <div class="form-group row">
              <%= f.label :pet_image, "画像", class: "col-3 col-form-label" %>
              <%= f.file_field :pet_image, accept: "image/*", class: "col-8 pl-0" %>
            </div>
              <!--現在ログインしているユーザーのユーザーIDを渡す-->
              <%= f.hidden_field :customer_id, :value => current_customer.id %>
          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <%= f.label :pet_introduction, "ペット紹介", class: "col-3 col-form-label" %>
              <%= f.text_area :pet_introduction, rows: "10", class: "col-7 form-control" %>
            </div>
          </div>
        </div>

        <div class="row col-sm-6">
          <div class="col-3"></div>
          <div class="col-7 p-0"><%= f.submit "編集を保存", class: "btn btn-warning" %></div>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="my-5">
    <%= link_to public_pet_path(@pet.id), class: "color" do %>
      <i class="fas fa-solid fa-reply"></i>
    <% end %>
  </div>
  
</div>