<div class="container">
<% if @customer.status == "released" || @customer.id == current_customer.id %>
  <div class="row">

    <%= render "public/shared/sidebar_profile", customer: @customer %>

    <div class="col-lg-8 pet-index">

        <h3 class="text-center mb-3">
          <%= current_customer.nick_name %>さんのペット一覧
          <% if @customer.id == current_customer.id %>
            <%= link_to new_public_pet_path, class: "new-link col-1 p-0" do %>
              <i class="fas fa-solid fa-plus"></i>
            <% end %>
          <% end %>
        </h3>

        <div class="pet-list row">
          <% if @pets.count >= 1 %>
            <% @pets.each do |pet| %>
            <div class="pet-link col-md-4 text-center mb-5">
              <div class="col-10 mx-auto">
                <%= image_tag pet.get_pet_image(500,500), width: "100%", height: "100%" %><br>
              </div>
              <%= link_to  pet.pet_name, public_pet_path(pet.id), class: "d-inline-block btn-revers" %>
            </div>
            <% end %>
          <% else %>
            <div class="pet-link col m-auto">
              <p class="no-data">ペットは登録されていません</p>
            </div>
          <% end %>
        </div>

    </div>
  </div>
<% else %>
  <div>
    非公開です
  </div>
<% end %>
</div>