<div class="container">
  <div class="row">

    <%= render "public/shared/sidebar_profile", customer: @customer %>

    <div class="col-lg-8 pet-index">
      <div class="pet-title">
        <h2><%= current_customer.nick_name %>さんのペット一覧</h2>
        <% if @customer.id == current_customer.id %>
          <%= link_to new_public_pet_path, class: "text-dark ml-3" do %>
            <i class="fas fa-2x fa-solid fa-plus"></i>
          <% end %>
        <% end %>
      </div>

        <div class="pet-list">
          <% @pets.each do |pet| %>
          <div class="pet-link">
            <%= image_tag pet.get_pet_image(200,200) %><br>
            <%= link_to  pet.pet_name, public_pet_path(pet.id), class: "btn-revers" %>
          </div>
          <% end %>
        </div>

    </div>
  </div>
</div>