<div class="container">

  <div class="row h5 bold my-5 px-0 mx-auto col-md-8">
      <%= @pet.pet_name %><%= @pet.pet_gender %>の投稿一覧
      <% if @pet.customer.id == current_customer.id %>
        <%= link_to new_public_post_path, class: "new-link ml-3" do %>
          <i class="fas fa-x fa-solid fa-plus"></i>
        <% end %>
      <% end %>
  </div>

  <div class="row">
    <div class="col">
      <div class="col-md-8 text-field m-auto px-0">
        <table class="col text-center">
          <thead class="mx-0 border-bottom">
            <th class="small text-muted">タイトル</th>
            <th class="small text-muted">投稿日</th>
          </thead>

          <tbody>
          <% if @posts.count >= 1 %>
            <% @posts.each do |post| %>
              <tr>
                <td class="col-4"><%= link_to post.post_title.truncate(13), public_post_path(post.id), class: "other-link" %></td>
                <td>
                  <div class="small text-muted">
                      <%= post.created_at.strftime("%Y/%m/%d") %>
                  </div>
                </td>
              </tr>

              <tr>
                <td colspan="3" class="px-2 py-0">
                  <% if post.customer_id == current_customer.id%>
                   <div class="row col justify-content-end m-0 p-0">
                      <%= button_to edit_public_post_path(post.id), method: :get do %>
                        <i class="fas fa-solid fa-pen"></i>
                      <% end %>
                      &emsp;
                      <%= button_to public_post_path(post.id), method: :delete, data: {confirm: "本当に削除しますか？"} do %>
                        <i class="fas fa-solid fa-trash"></i>
                      <% end %>
                   </div>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% else %>
             <tr>
              <td colspan="2" class="col text-center">
               <p class="no-data">投稿はありません</p>
              </td>
             </tr>
          <% end %>
        </tbody>
        </table>
        <div class="col text-center">
          <%= paginate @posts %>
        </div>
      </div>
    </div>
  </div>

  <div class="my-5 mx-auto col-md-8">
    <%= link_to public_pet_path(@pet.id), class: "default-color other-link" do %>
      <i class="fas fa-solid fa-reply mr-2"></i><%= @pet.pet_name + @pet.pet_gender %>の詳細ページ
    <% end %>
  </div>

</div>