<div class="container">
  <div class="row">
    <div class="col">
      <h2><%= @pet.pet_name%>くんの詳細ページ</h2>
      
      <div>
        <p><%= @pet.group.group_name %>の<%= @pet.pet_name %>　　<%= @pet.age %>歳/<%= @pet.gender %></p>
        
      </div>
    </div>
  </div>
</div>