<script>
	function check_form() {
        if(window.confirm('使用アイテムに追加しますか？')) {
          return true;
        } else {
          return false;
        }
      }
</script>

<div class="container">
  <div class="h4 bold col-md-10 mx-auto my-5">アイテム詳細</div>
  <div class="row">
    <div class="col">
      <div class="item-show text-field col-md-10">
        <table class="col">
          <tr>
            <th>商品名</th>
            <td class="col-8"><%= @item.item_name %></td>
          </tr>
          <tr>
            <th>在庫数</th>
            <td><%= @item.amount %>袋(<%= @item.capacity.to_s + @item.unit_i18n  %>)</td>
          </tr>

          <tr>
            <th>在庫合計</th>
            <td><%= @item.total_capacity.to_s + @item.unit_i18n %></td>
          </tr>


          <tr>
            <th>使用量</th>
            <td colspan="2">
              <%= form_with model: @use_item, url: public_use_items_path, method: :post do |f| %>
                <div class="add-amount-used col">
                  <%= f.hidden_field :item_id, :value => @item.id %>
                  <%= f.number_field :amount_used, :value => nil, class: "col-6 form-control" %><%= @item.unit_i18n %>
                  <%= f.submit "追加", class: "btn btn-success ml-4", :onclick => "return check_form()" %>
                </div>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-10 mx-auto my-5">
    <%= link_to  public_items_path, class: "default-color other-link" do %>
      <i class="fas fa-solid fa-reply mr-2"></i>アイテム一覧へ
    <% end %>
  </div>
</div>