<!DOCTYPE html>
<html>
  <head>
    <title>PetDiary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <% if admin_signed_in? %>
          <%= link_to "PetDiary", admin_homes_top_path, class: "navbar-brand" %>
        <% else %>
          <%= link_to "PetDiary", root_path, class: "navbar-brand" %>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <% if customer_signed_in? %>
              <ul class="navbar-nav ml-auto">
                <li>
                  <%= link_to current_customer.nick_name, public_customer_path(current_customer.id), class: "nav-link" %>
                </li>
                <li>
                  <%= link_to public_notifications_path, class: "nav-link pt-1" do %>
                    <% if unchecked_notifications.any? %>
                      <span class="fa-stack">
                        <i class="far fa-bell fa-lg fa-stack-1x" style="font-size: 1em;"></i>
                        <i class="fas fa-circle n-circle fa-stack-1x" style="font-size: 1.5em;"></i>
                      </span>
                    <% else %>
                      <span class="fa-stack">
                        <i class="far fa-bell fa-lg fa-stack-1x" style="font-size: 1em;"></i>
                      </span>
                    <% end %>
                  <% end %>
                </li>
                <li>
                  <%= link_to "全ての投稿", post_all_public_posts_path, class: "nav-link" %>
                </li>
                <li>
                  <%= link_to "使用アイテム", public_use_items_path, class: "nav-link" %>
                </li>
                <li class="nav-items dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    メニュー
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to "会員検索", search_page_public_customers_path, class: "dropdown-item" %>
                    <%= link_to "ペット一覧", public_pets_path, class: "dropdown-item" %>
                    <%= link_to "投稿一覧", public_posts_path, class: "dropdown-item" %>
                    <%= link_to "ワーク一覧", public_works_path, class: "dropdown-item" %>
                    <%= link_to "アイテム一覧", public_items_path, class: "dropdown-item" %>
                    <%= link_to "スケジュール", public_schedules_path, class: "dropdown-item" %>

                  </div>
                </li>
                <li>
                  <%= link_to "ログアウト",  destroy_customer_session_path, method: :delete, class: "nav-link" %>
                </li>
                <li>
                  <%= form_with url: search_all_public_posts_path, method: :get, local: true do |f| %>
                    <div class="d-flex">
                      <%= f.text_field :keyword, placeholder: "キーワードを入力", class: "form-control m-0" %>
                      <%= f.submit "検索", class: "btn btn-success ml-3" %>
                    </div>
                  <% end %>
                </li>
              </ul>

            <% elsif admin_signed_in? %>

              <ul class="navbar-nav ml-auto">
                <!--<li>-->
                <!--  <%= link_to "ジャンル",  admin_groups_path, class: "nav-link" %>-->
                <!--</li>-->
                <li>
                  <%= link_to "会員一覧", admin_customers_path, class: "nav-link" %>
                </li>
                <li>
                  <%= link_to "ログアウト",  destroy_admin_session_path, method: :delete, class: "nav-link" %>
                </li>
              </ul>

            <% else %>

              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <%= link_to "about", public_homes_about_path, class: "nav-link" %>
                </li>

                <li class="nav-item">
                  <%= link_to "新規登録", new_customer_registration_path, class: "nav-link" %>
                </li>

                <li class="nav-item">
                  <%= link_to "ログイン", new_customer_session_path, class: "nav-link" %>
                </li>
              </ul>

            <% end %>

        </div>
      </nav>
    </header>

    <main>
      <div class="messages col-sm-10 mx-auto my-5">
        <p id="notice" class="col h4"><%= notice %></p>
      </div>

      <%= yield %>
    </main>

    <footer>
      <p>Copyright © Infratop Inc. All Rights Reserved.</p>
    </footer>
  </body>
</html>
