<!DOCTYPE html>
<html>
  <head>
    <title>PetDiary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <%= link_to "PetDiary", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? %>
              <li class="nav-items">
                <div class="nav-link active">
                  ようこそ、<%= current_customer.nick_name %> さん！
                </div>
              </li>
              <li>
               <%= link_to "マイページ", member_info_public_customers_path, class: "nav-link" %>
              </li>
              <li class="nav-items dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  メニュー
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to "ペット一覧", public_pets_path, class: "dropdown-item" %>
                  <%= link_to "投稿一覧", public_posts_path, class: "dropdown-item" %>
                  <a class="dropdown-item" href="#">タスク一覧</a>
                  <a class="dropdown-item" href="#">スケジュール</a>
                  <a class="dropdown-item" href="#">消耗品</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li>
                <%= link_to "ログアウト",  destroy_customer_session_path, method: :delete, class: "nav-link" %>
              </li>
            <% elsif admin_signed_in? %>
              <li>
                <%= link_to "グループ",  admin_groups_path, class: "nav-link" %>
              </li>
              <li>
                <%= link_to "会員一覧", admin_customers_path, class: "nav-link" %>
              </li>
              <li>
                <%= link_to "ログアウト",  destroy_customer_session_path, method: :delete, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "about", public_homes_about_path, class: "nav-link" %>
              </li>

              <li class="nav-item">
                <%= link_to "新規登録", new_customer_registration_path, class: "nav-link" %>
              </li>

              <li class="nav-item">
                <%= link_to "ログイン", new_customer_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>

          <!--<form class="form-inline my-2 my-lg-0">-->
          <!--  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
          <!--  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
          <!--</form>-->
        </div>
      </nav>
    </header>

    <main>
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </main>

    <footer>
      <p>Copyright © Infratop Inc. All Rights Reserved.</p>
    </footer>
  </body>
</html>
